.entry-title {
  font-family:sans-serif
}

.cont {
    margin-top: 30px;
    margin-left: 20px;
    padding: 80px 60px 80px 40px;
    text-align: justify;
    height: '300px';
    width: '100%';
    background-color: rgb(45, 120, 180);
    color: #ffffff;
    font: normal normal normal 18px/1.18em proxima-n-w01-reg,sans-serif;
    line-height: 1.5;
  }

.carousel-title {
  color:tomato; 
  text-align:center;
  
}
.carousel-content {
  color: 'white';
  text-align: center;
  width: 700px;
  padding-left: 300px;
  font-size: 16px;
  height: 120px
}

.about_the-training {
  
  background-color: wheat;
  padding-top: 30px; 
  padding-left: 20px;
  
  width: 100%;
  margin: 20px 0px;
  
}

.exite {
  text-align: center;
  margin-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 18px;
}

/* @media only screen and (max-width: 400px) {  
    .meeting-image{
      height: 200px;
      width:100%;
    }  
} */