
.logo-container {
        margin: 40px 200px;
        margin: auto;

}
.course-content {
    
    background-color:rgb(79, 79, 209);
    width:100%;
    text-align: left;
    padding: 20px 40px;
    color: whitesmoke;
    /* margin: 10px; */
}
.paragraph-content {
    text-align: justify;
    margin: 20px 20px;
    font-size: 18px;

}
.intro-content {
        padding: 20px 30px;
        font-size: 18px;
        text-align: justify;
}
.h2-content {
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
}
.h3-content {
    width: auto;
    text-align: left;
    color: whitesmoke;
    font-weight:bold;
    font-size: 28px;
}
.font_9 {
    text-align: left;
    font-size: 18px;
}
.font_8 {
    font-size: 19px;
}

.program-content {
    margin-left: 30px;
    margin-right: 30px;
}

.toggle_content {
    text-align:left;
}    
.para-content {
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-align: justify;
}

.author-name {
    text-align: center;
    padding: 8px;
    font-size: 20px;
   
}
.author-content {
    text-align: justify;
    padding: 0px 20px;

}
